<app-header (featureSelected)="onNavigate($event)"></app-header>
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>


<!-- sect 7 <div class="container">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="onlyOdd= !onlyOdd">
        Only show odd numbers
      </button>
      <br>
      <br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" 
            *ngFor="let odd of odds" 
            [ngClass]="{ odd: odd % 2 !== 0}"
            [ngStyle]="{ backgroundColor: odd %2 !== 0 ? 'yellow': 'red'}">
            {{odd}}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
            <li class="list-group-item" 
              *ngFor="let even of evens"  
              [ngClass]="{ odd: even % 2 !== 0}"
              [ngStyle]="{ backgroundColor: even %2 !== 0 ? 'yellow': 'red'}">
              {{even}}
            </li>
          </div>
          <ng-template [ngIf]="!onlyOdd">
            <li class="list-group-item" 
            *ngFor="let even of evens"  
            [ngClass]="{ odd: even % 2 !== 0}"
            [ngStyle]="{ backgroundColor: even %2 !== 0 ? 'yellow': 'red'}">
            {{even}}
          </li>
          </ng-template>
          <div *appUnless="onlyOdd">
            <li class="list-group-item" 
            *ngFor="let even of evens"  
            [ngClass]="{ odd: even % 2 !== 0}"
            [ngStyle]="{ backgroundColor: even %2 !== 0 ? 'yellow': 'red'}">
            {{even}}
          </li>
        </div>
      </ul>
      <P appBasicHighlight>Style me with basic directive!</P>
      <P [appBetterHighlight]="'blue'" defaultColor="yellow" >Style me with better directive!</P>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">value is 5</p>
        <p *ngSwitchCase="10">value is 10</p>
        <p *ngSwitchCase="15">value is 15</p>
        <p *ngSwitchCase="25">value is 25</p>
      
      </div>
      
    </div>
  </div>
</div> -->




<!--<div class="container">
  <app-cookpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cookpit>
  <hr>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first element </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first element </button>

      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">

        <p #contentParagraph class="card-title">
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>

      </app-server-element>
    </div>
  </div>
</div>-->